<mat-form-field style="width: 500px">
  <mat-label> Periodo</mat-label>
  <mat-select [formControl]="miFormulario.controls.idPeriodo" disableRipple>
    <mat-option>--</mat-option>
    @for (periodo of periodos(); track periodo) {
      <mat-option [value]="periodo.idPeriodo">{{ periodo.abrPeriodo }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field style="width: 500px">
  <mat-label> Programa</mat-label>
  <mat-select [formControl]="miFormulario.controls.idPrograma" disableRipple>
    <mat-option>--</mat-option>
    @for (programa of programas(); track programa) {
      <mat-option [value]="programa.idPrograma">{{ programa.nombre }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<!--<shared-table-iest [isSelectionable]="true" [tableHead]="headersTable" [data]="alumnos()"></shared-table-iest>-->
<app-table-iest-v2 [data]="alumnos()" [tableHead]="headersTable">
  <ng-template appBodyTemplate let-element class="flex" style="width: 100%">
    <div class="col-4">
      <mat-card style="height: 100%">
        <mat-card-title>
          <mat-icon>payments</mat-icon>
          Pagos
        </mat-card-title>
        <mat-divider/>
        <mat-card-content>

          <div class="flex justify-between p-2">
            <span class="tupla">Status Pago:</span>
            <div>{{element.statusPago}}</div>
          </div>
          <div class="flex justify-between p-2">
            <span class="tupla">Fecha de Pago:</span>
            <div>{{element.fechaPago}}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

   <div class="col-4">
     <mat-card style="height: 100%">

     <mat-card-title>
       <mat-icon>login</mat-icon>
       Alta
     </mat-card-title>
     <mat-divider/>
     <mat-card-content class="flex flex-col">

       <div class="flex justify-between p-2">
         <span class="tupla">Semestre de entrada:</span>
         <div>{{element.semestreEntrada}}</div>
       </div>

       <div class="flex justify-between p-2">
         <span class="tupla">Fecha de Alta:</span>
         <div>{{element.fechaAlta}}</div>
       </div>

       <div class="flex justify-between p-2">
         <span class="tupla">Dado de alta por:</span>
         <div>{{element.altaPor ?? 'NA'}}</div>
       </div>

     </mat-card-content>
     </mat-card>
   </div>

    <div class="col-4" >
      <mat-card style="height: 100%" >
        <mat-card-title>
          <mat-icon>logout</mat-icon>
          Bajas
        </mat-card-title>

        <mat-divider/>
        <mat-card-content>

          @if(element.fechaBaja){
            <div class="flex justify-between p-2">
              <span class="tupla">Fecha de Baja:</span>
              <div>{{element.fechaBaja}}</div>
            </div>


          }

          @if (element.fechaBajaTem) {
            <div class="flex justify-between p-2">
              <span class="tupla">Fecha de Baja:</span>
              <div>{{element.fechaBajaTem}}</div>
            </div>
          }

          @if (element.fechaTermino){
            <div class="flex justify-between p-2">
              <span class="tupla">Fecha de Baja:</span>
              <div>{{element.fechaTermino}}</div>
            </div>

          }
          <div class="flex justify-between p-2">
            <span class="tupla">Dado de Baja:</span>
            <div>{{element.bajaPor ?? 'NA'}}</div>
          </div>

          <div class="flex justify-between p-2">
            <span class="tupla">Terminado por:</span>
            <div>{{element.terminadoPor ?? 'NA'}}</div>
          </div>



        </mat-card-content>
      </mat-card>
    </div>




  </ng-template>
</app-table-iest-v2>
