<div class="m-16">

  <section class="selectores flex ">

<!--INGRESO-->
    <mat-form-field class="w-100 pt-4">
      <mat-label> Ingreso</mat-label>
      <mat-select [formControl]="miFormulario.controls.idPeriodo" disableRipple>
        <mat-option [value]="null">--</mat-option>
        @for (periodo of periodos(); track periodo) {
          <mat-option [value]="periodo.idPeriodo">{{ periodo.abrPeriodo }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
<!--PROGRAMA-->
    <mat-form-field class="w-100 pt-4">
      <mat-label> Programa</mat-label>
      <mat-select [formControl]="miFormulario.controls.idPrograma" disableRipple>
        <mat-option [value]='null'>--</mat-option>
        @for (programa of programas(); track programa) {
          <mat-option [value]="programa.idPrograma">{{ programa.nombre }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
<!--FILTRO-->
    <mat-form-field class="pt-4">
      <mat-label>Filtrar</mat-label>
      <input matInput [(ngModel)]="filtersignal" placeholder="No. o Nombre" #input>
    </mat-form-field>
<!--    FILTRO STATUS PAGO-->
    <mat-form-field class="w-100 pt-4">
      <mat-label> PAGO </mat-label>
      <mat-select [(ngModel)]="filterPago" disableRipple>
        <mat-option [value]='null'>--</mat-option>
        <mat-option value="SI">SI</mat-option>
        <mat-option value="NO">NO</mat-option>
      </mat-select>
    </mat-form-field>
<!--FILTRO GENERACION-->



<!--    FILTRO TIPO BAJA-->
    <mat-form-field class="w-100 pt-4">
      <mat-label> Estado de baja </mat-label>
      <mat-select [(ngModel)]="filterTipoBaja" disableRipple>
        <mat-option [value]="null">--</mat-option>
        <mat-option value="Baja Temporal">Baja Temporal</mat-option>
        <mat-option value="Baja Definitiva">Baja Definitiva</mat-option>
        <mat-option value="Terminacion de Programa">Terminacion de programa</mat-option>
      </mat-select>
    </mat-form-field>

<!--BOTON DE AÑADIR REGISTRO-->
    <mat-button-toggle (click)="addNuevoIngreso()">
      <mat-icon>add</mat-icon>
    </mat-button-toggle>
  </section>

<!--  TABLA-->
  <app-table-iest-v2 #table [data]="alumnos()" [tableHead]="HEADERS_TABLE" [filtering]="filtersignal()">

<!--    Desplegable-->
    <ng-template appBodyTemplate let-element class="flex" style="width: 100%">
<!--      PAGOS-->
      <div class="col-4 ">
        <mat-card style="height: 100%">
          <mat-card-title class="rounded card-title flex items-center justify-center" >
            <mat-icon>payments</mat-icon>
            Pagos
          </mat-card-title>
          <mat-divider />
          <mat-card-content>
            <div class="flex justify-between p-2">
              <span class="tupla">Status Pago:</span>
              <div>{{ element.statusPago }}</div>
            </div>
            <div class="flex justify-between p-2">
              <span class="tupla">Programa:</span>
              <div style="color: #f26818">{{ element.programa }}</div>
            </div>
            <div class="flex justify-between p-2">
              <span class="tupla">Fecha de Pago:</span>
              <div>{{ element.fechaPago }}</div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
<!--    ALTA-->
      <div class="col-4">
        <mat-card style="height: 100%">
          <mat-card-title class="rounded card-title flex items-center justify-center">
            <mat-icon>login</mat-icon>
            Alta
          </mat-card-title>
          <mat-divider />
          <mat-card-content class="flex flex-col">

            <div class="flex justify-between p-2">
              <span class="tupla">Semestre de entrada:</span>
              <div>{{ element.semestreEntrada }}</div>
            </div>

            <div class="flex justify-between p-2">
              <span class="tupla">Fecha de Alta:</span>
              <div>{{ element.fechaAlta }}</div>
            </div>

            <div class="flex justify-between p-2">
              <span class="tupla">Dado de alta por:</span>
              <div>{{ element.altaPor ?? 'NA' }}</div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
<!--    BAJAS-->
      <div class="col-4">
        <mat-card style="height: 100%">
          <mat-card-title class="rounded card-title flex items-center justify-center">
            <mat-icon>logout</mat-icon>
            Bajas
          </mat-card-title>

          <mat-divider />
          <mat-card-content>

            @if (element.fechaBaja) {
              <div class="flex justify-between p-2">
                <span class="tupla">Estatus</span>
                <div>BAJA DEFINITIVA</div>
              </div>
              <div class="flex justify-between p-2">
                <span class="tupla">Fecha de Baja:</span>
                <div>{{ element.fechaBaja }}</div>
              </div>


            } @else if(element.fechaBajaTem) {
              <div class="flex justify-between p-2">
                <span class="tupla">Estatus</span>
                <div>BAJA TEMPORAL</div>
              </div>
              <div class="flex justify-between p-2">
                <span class="tupla">Fecha de Baja:</span>
                <div>{{ element.fechaBajaTem }}</div>
              </div>
            } @else if(element.fechaTermino) {
              <div class="flex justify-between p-2">
                <span class="tupla">Estatus</span>
                <div>TERMINACION DE PROGRAMA</div>
              </div>
              <div class="flex justify-between p-2">
                <span class="tupla">Fecha de Baja:</span>
                <div>{{ element.fechaTermino }}</div>
              </div>
              <div class="flex justify-between p-2">
                <span class="tupla">Dado de Baja:</span>
                <div>{{ element.bajaPor ?? 'NA' }}</div>
              </div>

              <div class="flex justify-between p-2">
                <span class="tupla">Terminado por:</span>
                <div>{{ element.terminadoPor ?? 'NA' }}</div>
              </div>

            } @else {
              <div class="flex justify-between p-2">
                <span class="tupla"></span>
                <div> 'NA'</div>
              </div>
            }


          </mat-card-content>
        </mat-card>
      </div>

    </ng-template>

    <ng-template appMenuTemplateDirective let-alumno>


      <button mat-menu-item class="important" [disabled]="alumno.fechaBaja || alumno.fechaTermino" (click)="bajaAlumno('definitiva',alumno.idRegistro)">
        <mat-icon>school</mat-icon>
        <span>Termino</span>
      </button>


      @if (alumno.fechaBajaTem){
        <button  mat-menu-item [disabled]="alumno.fechaBaja || alumno.fechaTermino" (click)="bajaAlumno('deshacer-temporal',alumno.idRegistro)">
          <mat-icon fontSet="material-symbols-outlined">timer_play</mat-icon>
          <span>Deshacer Baja Temporal</span>
        </button>
      } @else {
        <button  mat-menu-item [disabled]="alumno.fechaBaja || alumno.fechaTermino" (click)="bajaAlumno('temporal',alumno.idRegistro)">
          <mat-icon>ac_unit</mat-icon>
          <span>Baja Temporal</span>
        </button>
      }

      <button mat-menu-item [disabled]="alumno.fechaBaja || alumno.fechaTermino" (click)="bajaAlumno('definitiva',alumno.idRegistro)">
        <mat-icon>block</mat-icon>
        <span>Baja Definitiva</span>
      </button>
      <button mat-menu-item [disabled]="alumno.fechaBaja || alumno.fechaTermino" (click)="bajaAlumno('eliminar',alumno.idRegistro)">
        <mat-icon>remove</mat-icon>
        <span>Eliminar registro</span>
      </button>

    </ng-template>
  </app-table-iest-v2>
</div>

