.color-blue {
  background-color: #d4eaff;
  color: #5a6c94;
  border-color: #83aaff;
  box-shadow: 0 4px 6px #0000001a;
  border-radius: 12px;
}

.color-brown {
  background-color: #fff8f6;
  color: #5a6c94;
  border-color: #d7c1ba;
  box-shadow: 0 4px 6px #0000001a;
  border-radius: 12px;
}
