:root {
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-slate-50: rgb(248, 250, 252);
  --color-slate-100: rgb(241, 245, 249);
  --color-slate-200: rgb(226, 232, 240);
  --color-slate-300: rgb(203, 213, 225);
  --color-slate-400: rgb(148, 163, 184);
  --color-slate-500: rgb(100, 116, 139);
  --color-slate-600: rgb(71, 85, 105);
  --color-slate-700: rgb(51, 65, 85);
  --color-slate-800: rgb(30, 41, 59);
  --color-slate-900: rgb(15, 23, 42);
  --color-slate-950: rgb(2, 6, 23);
}

:root {
  --color-amber-50: rgb(255, 251, 235);
  --color-amber-100: rgb(254, 243, 199);
  --color-amber-200: rgb(253, 230, 138);
  --color-amber-300: rgb(252, 211, 77);
  --color-amber-400: rgb(251, 191, 36);
  --color-amber-500: rgb(245, 158, 11);
  --color-amber-600: rgb(217, 119, 6);
  --color-amber-700: rgb(180, 83, 9);
  --color-amber-800: rgb(146, 64, 14);
  --color-amber-900: rgb(120, 53, 15);
  --color-amber-950: rgb(69, 26, 3);
}
