@use "sass:map";
/*** Spacing ***/
// Tomado de los estilos de Bootstrap (de la versión 3, creo... se tiene que hacer una revisión). Era justo y necesario.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$map: ();
@for $i from 0 through 90 {
  $map: map.merge($map, ($i: $i * .25rem))
}

$spacers: map.merge(
    $map,
    $spacers
);

/*** Margin and Padding ***/

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacers {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
    .#{$abbrev}t-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length !important;
    }
    .#{$abbrev}r-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length !important;
    }
    .#{$abbrev}b-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-bottom: $length !important;
    }
    .#{$abbrev}l-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-left: $length !important;
    }
  }
}

// Negative margins (e.g., where `.mb-n1` is negative version of `.mb-1`)
@each $size, $length in $spacers {
  @if $size != 0 {
    .m-n#{$size} {
      margin: -$length !important;
    }
    .mt-n#{$size},
    .my-n#{$size} {
      margin-top: -$length !important;
    }
    .mr-n#{$size},
    .mx-n#{$size} {
      margin-right: -$length !important;
    }
    .mb-n#{$size},
    .my-n#{$size} {
      margin-bottom: -$length !important;
    }
    .ml-n#{$size},
    .mx-n#{$size} {
      margin-left: -$length !important;
    }
  }
}
