<form>
  <mat-form-field appearance="fill" class="my-3" style="width: 100%">
    <mat-label>Encuentra a la persona por su nombre, su cuenta o por su ID-IEST*</mat-label>
    <input  #input
           type="text"
           matInput
           [matAutocomplete]="auto" [formControl]="searchControl"
            (input)="searching($event)"
    >

    <mat-autocomplete  requireSelection (optionSelected)="outputItem.emit(this.searchControl.value)" [displayWith]="functionDisplayName" #auto="matAutocomplete">

      @for (item of filteredOptions(); track item) {
        <mat-option [value]="item">
          <ng-container *ngTemplateOutlet="bodyTemplate; context: {$implicit:item}">
          </ng-container>

        </mat-option>
      } @empty {
      }
    </mat-autocomplete>

    @if (error()?.bool){
      <mat-hint  class="mat-mdc-form-field-error" style="color: red" >{{error()?.mensaje}}</mat-hint>
    }


    @if (input.value) {
      <button mat-icon-button matSuffix (click)="input.value=''">
        <mat-icon fontIcon="close"></mat-icon>
      </button>
    }

  </mat-form-field>

</form>
