<form>
  <mat-form-field class="my-3" style="width: 100%">
    <mat-label>ID o Nombre</mat-label>
    <input  #input
           type="text"
           matInput
           [matAutocomplete]="auto" [formControl]="searchControl"
            (input)="searching($event)"
    >
    <mat-autocomplete requireSelection (optionSelected)="outputItem.emit(this.searchControl.value)" [displayWith]="functionDisplayName" #auto="matAutocomplete">
      @for (item of filteredOptions(); track item) {
        <mat-option [value]="item">
          <ng-container *ngTemplateOutlet="bodyTemplate; context: {$implicit:item}">
          </ng-container>

        </mat-option>
      } @empty {
        <mat-option>No hay resultado.</mat-option>
      }
    </mat-autocomplete>

    @if (input.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="input.value=''">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
</form>
