<div style="margin: -8px;">
  <!--  BARRA -->
  <mat-toolbar color="primary" class="flex justify-between">
    <span>BÚSQUEDA DE ID-IEST</span>

  </mat-toolbar>
</div>

<mat-card class="mt-5" appearance="raised">
  <mat-card-title class="mt-2">CRITERIO DE BUSQUEDA</mat-card-title>

    <form [formGroup]="miFormulario" (ngSubmit)="submit()" (keydown.enter)="submit()">
  <div class="flex flex-row items-center justify-center p-5">
      <mat-form-field class="w-1/4 pr-4">
      <mat-label>
        Apellido Paterno
      </mat-label>

      <input matInput formControlName="vApellidoP" placeholder="Apellido Paterno" #input>
    </mat-form-field>
      <mat-form-field class="w-1/4 pr-4">
        <mat-label>
          Apellido Materno
        </mat-label>

        <input matInput formControlName="vApellidoM" placeholder="Apellido Materno" #input>
      </mat-form-field>
      <mat-form-field class="w-1/4 pr-4">
        <mat-label>
          Nombres
        </mat-label>

        <input matInput formControlName="vNombre" placeholder="Nombre" #input>
      </mat-form-field>

      <button (click)="submit()" class="mx-4 mb-5" mat-flat-button style="background-color: #f26818; color: white; height: 56px">BUSCAR</button>
      </div>
    </form>



  <mat-card-content>
    @if (data().length){
      <mat-form-field style="padding-top: 10px">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup.enter)="tabla.applyFilter(stringReturn($event))" placeholder="Ex. Mia" #input>
      </mat-form-field>
     <shared-table-iest [data]="data()" [tableHead]="HEAD"  [pages]="[100,200,300]" [filtering]="filter" #tabla ></shared-table-iest>
    }
    @if (banderaNoSeEncontro()) {
      <div class="text-center">

      No se encontró coincidencia con la búsqueda.
      </div>
    }

  </mat-card-content>
</mat-card>
