<mat-card class="w-full" style="background-color: white; overflow: clip">
  <div class="flex flex-col" style="padding: 0;">
    <div class="flex p-1" style="background-color: #fd5722; color: white;">
      <mat-card-title class="mx-auto my-0">{{title}}</mat-card-title>
    </div>
    <div class="grid grid-cols-3 p-4">
    @if(data.length){
      <h3 class="m-2 text-center col-start-2" style="margin: 0;">Dos Semanas</h3>
      <h3 class="m-2 text-center" style="margin: 0;">Tres Semanas</h3>
    }
    @for (key of keys; let i = $index; track i) {
    <h3 class="text-center my-auto" style="align-content: center; margin-bottom: 0;">{{key}}</h3>
      @if (formGroupDescuento.get(['twoWeeks',i,'idDescount'])?.value === '0') {
      <div class=" text-center" style="align-content: center;">
        No existe para este periodo
      </div>
      }@else{
      <mat-form-field class="p-2" [formGroup]="$any(formGroupDescuento)?.get(['twoWeeks',i])">
        <span matTextPrefix>$ &nbsp;</span>
        <input matInput type="number" formControlName="cost"  (blur)="onInputChange($event,$any(formGroupDescuento).get(['twoWeeks',i,'idDescount']).value)" />
        @if (formGroupDescuento.invalid) {
        <mat-error>{{'Campo requerido'}}</mat-error>
        }
      </mat-form-field>
      }

      <mat-form-field class="p-2" [formGroup]="$any(formGroupDescuento)?.get(['treeWeeks',i])">
        <span matTextPrefix>$ &nbsp;</span>
        <input matInput type="number" formControlName="cost"  (blur)="onInputChange($event,$any(formGroupDescuento).get(['treeWeeks',i,'idDescount']).value)" />
        @if (formGroupDescuento.invalid) {
        <mat-error>{{'Campo requerido'}}</mat-error>
        }
      </mat-form-field>

    }
    </div>
  </div>
</mat-card>
